:root {
    --font-color: #1d1c1c;
}

.restaurant-description {
    font-size: 16px;
    color: var(--description-color);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
}

#homeTabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

ul,
li {
    display: flex;
    gap: 40px;
    cursor: pointer;
}

li:hover {
    color: black;
    font-weight: bold;
}

.restaurant-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    width: 420px;
    height: 420px;
    background-image: url(/pics/pizzaHome.png);
}

#homeBody {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

.restaurant-heading {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 15px;
    line-height: 1.2;
    color: var(--font-color);
}

.best-pizza {
    color: black;
    font-weight: bold;
}

.restaurant-description {
    font-size: 1rem;
    clear: var(--font-color);
}

#viewMenuButton {
    background-color: black;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.8rem;
    border: none;
    width: 100px;
    height: 35px;
    margin-top: 40px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 80px;
}

.paragraph {
    color: var(--font-color);
    font-size: 1rem;
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding: 30px;
}

.menuTitle {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 30px;
}

.cardscontain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60%;
}

.imageContain {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#hawaii .imageContain {
    background-image: url('/pics/hawaiian-pizza-removebg-preview.png');
}

#veg .imageContain {
    background-image: url(pics/vegetarian-pizza-png-removebg-preview.png);
}

#pep .imageContain {
    background-image: url(pics/pepperoni-Pizza-removebg-preview.png);
}

#cheese .imageContain {
    background-image: url(pics/cheese-pizza-removebg-preview.png);
}

.cardcontiner {
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.menu-item-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.menu-item-price {
    font-size: 18px;
    color: #333;
}