* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
}

#homeTabs {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content (optional) */
    width: 100%;
    height: 10vh; /* Set height to 20% of the viewport height */
    border: 1px solid black;

}

ul, li {
    display: flex;
    gap: 40px;
}


.restaurant-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-image: url(/pics/pizzaHome.png);

}